.container {
    width: 60vw;
    margin: auto;
    padding-top: 250px;
}

.container h1 {
    color: #fff;
    font-size: 50px;
}

.seccion1 {
    height: 100vh;
    color: #fff;
}

.seccion2 {
    height: 100vh;
}